*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: sans-serif;
    font-weight: 500;
    line-height: 1.5;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* nav bar styling starts here */

nav a{
    text-decoration: none;
    color:#101010;
}

.container{
    margin: 0 auto;
    max-width: 1200px;    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11.8vh;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;   
    gap: 50px;
    font-size: 1.2em;
    font-weight: bolder;
}

div.logo{

    margin-bottom: none;
    /* padding: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

header{
    background-color: #E7F0DC;
    position: sticky;
    top: 0;
    z-index:100;
}


nav ul li:hover{
    color: #365E32;
    transition: 0.2s ease-in;
}

.nav_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.button-88 {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-88:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
  }
  
  .button-88:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  }

  /* nav bar styling ends here */

  /* search_section styling starts here */
  .search_section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5px;
    background-color: #EDF4F6;
    height: 7vh;
    gap: 25px;

}

.categories {
    border: none;
}

.search_box input{
    border: none;
    padding: 2.4px;
    min-width: 45vw;
    min-height: 4vh;
    border-radius: 60px;
    padding-left: 15px;
    outline: none;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper input {
    padding-right: 40px; 
}

.input-icon {
    position: absolute;
    right: 0px; 
    top: 50%;
    transform: translateY(-50%);
    width: 40px; 
    height: 4vh; 
    pointer-events: none;
    
}

select{
    border: none; 
    padding: 5px;
    min-width: auto;
    min-height: 4vh;
    border-radius: 60px;
    outline: none;
}

.categories select {
    background: url('image2/menus.png') no-repeat left center;
    padding-left: 40px; 
    background-size: 20px 20px; 
    background-position: 10px center; 
    background-color: white;
}
/* search_section styling ends here */

/* hero styling starts here */
.hero{
    height: 59vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding-left: 14vw;
}
.left{
    font-size: 2.5rem;
    width: 170vw;
    max-height: 70vh;
}
.right{
    padding-left: 150px;
    width: auto;
}
.discount{
    background-color: #3cda5e2e;
    border-radius: 60px;
    padding: 10px;
    font-size: 0.9rem;
    padding-left: 17px;
}
.red{
    color: red;
    font-weight: bolder;
}
.hero_image{
    height: 90%;
    width: 90%
}
/* hero styling ends here */
.carousel{
    max-height: 30vh;
    padding: 10px;
    margin-bottom: 10px;
    margin-bottom: 20px;
}

.carousel-item img {
    max-height: 30vh; /* Set a fixed height for the images */
    width: 50%; /* Ensure the images take the full width of the container */
    object-fit: cover; /* Ensure the images cover the specified height without distortion */
}