* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
    font-weight: 500;
    line-height: 1.5;
    scroll-behavior: smooth;
}
    
#preloader{
    background: #000 url(image2/loader.gif) no-repeat center center;
    background-size: 15%;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1000;

}

/* nav bar styling starts here */

nav a {
    text-decoration: none;
    color: #101010;
}

nav img {
    height: 12vh;
    width: 12vh;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 1.2em;
    font-weight: bolder;
    padding-top: 1.5vh;
}

div.logo {

    margin-bottom: none;
    /* padding: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

header {
    background-color: #E7F0DC;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul li{
    color: black;
}
nav ul li:hover {
    color: #365E32;
    transition: 0.2s ease-in;
}

.nav_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav_button i {
    font-size: 1.1rem;
    cursor: pointer;
    color: black;
}

.nav_button i:hover {
    color: #365E32;
    transition: 0.2s ease-in;
}

.user-profile {
    display: none;
    position: absolute;
    top: 12vh;
    right: 12vh;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.cardProf {
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    width: 200px;
    height: 254px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-photo {
    transform: scale(0.3) translate(220px, 230px);
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 50.8%) 14% 30%/11% 11%, radial-gradient(circle, #ffdab9 50%, rgba(255, 218, 185, 0) 50.8%) 10% 30%/16% 16%, radial-gradient(circle, #8b4513 50%, rgba(139, 69, 19, 0) 50.8%) 7.5% 29%/20% 20%, radial-gradient(circle, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0) 50.8%) 86% 30%/11% 11%, radial-gradient(circle, #ffdab9 50%, rgba(255, 218, 185, 0) 50.8%) 90% 30%/16% 16%, radial-gradient(circle, #8b4513 50%, rgba(139, 69, 19, 0) 50.8%) 92.5% 29%/20% 20%, radial-gradient(circle at 50% 0, #ffdab9 29.5%, #8b4513 30%, #8b4513 35%, rgba(139, 69, 19, 0) 35.5%) 50% 95%/40% 20%, radial-gradient(ellipse at 50% 100%, rgba(139, 69, 19, 0) 49%, #8b4513 49.5%, #8b4513 52%, rgba(139, 69, 19, 0) 52.5%) 50% 110%/120% 40%, radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0) 35%, white 35%, white 45%, rgba(255, 255, 255, 0) 45.5%) 50% 89%/40% 13%, linear-gradient(#8b4513, #8b4513) 37% 100%/.25em 22%, linear-gradient(#8b4513, #8b4513) 63% 100%/.25em 22%, linear-gradient(80deg, rgba(0, 0, 0, 0) 50%, #333 50.5%) 24% 100%/1em 18%, linear-gradient(-80deg, rgba(0, 0, 0, 0) 50%, #333 50.5%) 76% 100%/1em 18%, linear-gradient(162deg, rgba(0, 0, 0, 0) 10%, #333 10%) 30% 100%/1.5em 21%, linear-gradient(-162deg, rgba(0, 0, 0, 0) 10%, #333 10%) 70% 100%/1.5em 21%, radial-gradient(ellipse at 100% 100%, #556b2f 50%, rgba(85, 107, 47, 0) 50.5%) 0 100%/37% 29%, radial-gradient(ellipse at 0 100%, #556b2f 50%, rgba(85, 107, 47, 0) 50.5%) 100% 100%/37% 29%, radial-gradient(ellipse at 50% 100%, #222 51%, rgba(0, 0, 0, 0) 51.5%) 50% 110%/120% 40%, radial-gradient(circle at 50% 0, rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 0) 40.5%) 50% 82%/20% 20%, linear-gradient(to right, #8b4513 4px, rgba(139, 69, 19, 0) 4px) 50% 80%/20% 20%, linear-gradient(to left, #8b4513 4px, rgba(139, 69, 19, 0) 4px) 50% 80%/20% 20%, linear-gradient(#ffdab9, #ffdab9) 50% 80%/20% 20%, linear-gradient(#48240a, #48240a) 50% 100%/65% 60%, radial-gradient(circle, white 30%, rgba(255, 255, 255, 0) 62%) 50% 50%/100% 100%;
    background-color: #ccc;
    background-repeat: no-repeat;
    border-radius: 30%;
}

.card-photo::before {
    display: block;
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 160px;
    height: 200px;
    left: 50%;
    top: -10%;
    margin-left: -80px;
    background: radial-gradient(circle at 50% 0, #ffdab9 30%, #8b4513 30.5%, #8b4513 41%, rgba(139, 69, 19, 0) 41.5%) 50% 76%/2em 2em, radial-gradient(ellipse, rgba(139, 69, 19, 0) 25%, #5e2f0d 25.5%, #5e2f0d 40%, rgba(139, 69, 19, 0) 40.5%) 50% 100%/100% 40%, radial-gradient(ellipse at 50% 0, #8b4513 40%, #ffdab9 40.5%, #ffdab9 58%, rgba(255, 218, 185, 0) 59%) 50% 83%/3em 1em, linear-gradient(#5e2f0d, #5e2f0d) 50% 86%/1em 1em, radial-gradient(circle, #5e2f0d 40%, rgba(139, 69, 19, 0) 40.5%) 26% 56%/1em 1em, radial-gradient(circle, #5e2f0d 40%, rgba(139, 69, 19, 0) 40.5%) 74% 56%/1em 1em, radial-gradient(ellipse, rgba(139, 69, 19, 0) 52%, #8b4513 52.5%, #8b4513 55%, rgba(139, 69, 19, 0) 55.5%) 50% 100%/150% 80%, radial-gradient(ellipse, rgba(0, 0, 0, 0) 46%, rgba(0, 0, 0, 0.15) 46.5%, rgba(0, 0, 0, 0.15) 53%, rgba(0, 0, 0, 0) 53%) 50% 100%/150% 80%, radial-gradient(ellipse, #ffdab9 53%, rgba(255, 218, 185, 0) 53.5%) 50% 100%/150% 80%, radial-gradient(ellipse at 50% 100%, rgba(139, 69, 19, 0) 35.5%, #8b4513 36%, #8b4513 38%, white 38.5%) 50% -45%/110% 60%, radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 30% 26%/1em 1em, radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 40% 25%/1em 1em, radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 50% 24.5%/1em 1em, radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 60% 25%/1em 1em, radial-gradient(circle, #444 23%, rgba(0, 0, 0, 0) 24%) 70% 26%/1em 1em, radial-gradient(ellipse, #666 63%, #8b4513 63.5%, #8b4513 66%, rgba(139, 69, 19, 0) 66.5%) 50% 100%/150% 80%, radial-gradient(ellipse, rgba(139, 69, 19, 0) 40%, #5e2f0d 40.5%) 50% 0/150% 80%, linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)) 50% 50%/100% 100%;
    background-repeat: no-repeat;
    background-color: #ffdab9;
    border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
    border: 4px solid #8b4513;
    box-shadow: inset 0 -.2em 0 .5em rgba(0, 0, 0, 0.15), inset 0 -1.6em 0 #5e2f0d;
}

.card-photo::after {
    display: block;
    content: '';
    position: absolute;
    width: 2.5em;
    height: .8em;
    left: 28.5%;
    top: 26%;
    background-color: #5e2f0d;
    border-radius: .3em;
    box-shadow: 4.2em 0 0 #5e2f0d;
}

.card-title {
    text-align: center;
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-title span {
    font-size: 15px;
    color: var(--font-color-sub);
}

.card-socials {
    display: flex;
    height: 0;
    opacity: 0;
    margin-top: 20px;
    gap: 20px;
    transition: 0.5s;
}

.card-socials-btn {
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.card-socials-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
}

.cardProf:hover>.card-socials {
    opacity: 1;
    height: 35px;
}

.card-socials-btn:hover {
    transform: translateY(-5px);
    transition: all 0.15s;
}

.card-photo:hover {
    transition: 0.3s;
    transform: scale(0.4) translate(160px, 150px);
}

.shopBtn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #016a70;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: .9em;
}

.shopBtn:hover {
    background-color: #03979f;
    transition: 0.2s ease-in;
}

/* nav bar styling ends here */

/* search_section styling starts here */
.search_section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
    gap: 1rem;
    background-color: #016a70;
    margin-bottom: 5vh;
}

.categories {
    border-radius: 60px;
    outline: none;
}

.search_box input {
    border: none;
    padding: .4rem;
    border-radius: 60px;
    padding-left: 15px;
    outline: none;
    width: 70vw;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper input {
    padding-right: 40px;
}

.input-wrapper img {
    height: 37px;
    width: 45px;
}


.input-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 4vh;
    cursor: pointer;

}

.categories select {
    border: none;
    padding: .6rem;
    min-width: auto;
    min-height: 4vh;
    border-radius: 60px;
    outline: none;
}

.categories select {
    background: url('image2/menus.png') no-repeat left center;
    padding-left: 40px;
    background-size: 20px 20px;
    background-position: 10px center;
    background-color: white;
}

/* search_section styling ends here */

/* hero styling starts here */
.hero {
    height: 59vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
    padding: 0 8vw;
}

.left {
    font-size: 3rem;
    font-weight: 600;
}
.left button{
    background-color: #3cda5f;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    padding: .4rem 1.2rem;
    border: none;
    border-radius: 1rem;
}
.left button:hover{
    background-color: #2eb34b;
    transition: 0.2s ease-in;
}

.discount {
    background-color: #3cda5e2e;
    border-radius: 60px;
    font-size: 0.9rem;
    padding: .7rem 17vw .7rem 1.5rem;
    display: inline;
    font-size: 1.1rem;
}

.red {
    color: red;
    font-weight: 700;
}

.hero_image {
    height: 75vh;
    width: 100vh;
}

/* hero styling ends here */

/* Trending Products  */
.trending-products{
    padding: 2vw 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    margin-bottom: 10vh;
    cursor: pointer;
} 
.cardTrend:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.5s ease-in-out;
}
.cardTrend{
    height: 35vh;
    width: 15vw;
    border-radius: 10px;
}
.cardTrend img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.dealWeek{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-bottom: 10vh;
}
.dealDays{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.days{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3cda5f;
    height: 8.5vh;
    width: 8.5vh;
    line-height: .2;
    padding-top: 1.1rem;
    border-radius: .5rem;
}
.days p{
    color: white;
    font-size: 12px;
}
.days .leadHead{
    font-size: 20px;
    font-weight: bold;
}


.dealCards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
.card img{
    height: 100%;
    border-radius: 5px;
}
.button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 120px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #016a70;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    cursor: pointer;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #222;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }

  .twoCards{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
  }
  .shopCard{
    position: relative;
    width: 36.5%;
  }
  .shopCard-inner img{
    height: 35vh;
  }
  .shopCard-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bfe0e5;
    padding-left: 2vw;
    border-radius: .8rem;
  }
  .priceBtn{
    color: white;
    background-color: #f2971f;
    padding: .2rem 1rem;
    border-radius: 1.2rem;
    border: none;
    margin-bottom: 1rem;
  }
  .shopCard-inner h2{
    font-weight: 600;
    color: #184363;
  }
  .btnShop{
    color: white;
    background-color: #016a70;
    font-size: 14px;
    padding: .4rem 1.2rem;
    border-radius: 2rem;
    border: none;
    margin-top: 2rem;
  }
  .shopCard-inner2{
    background-color: #93d9ea;
  }

  .bigContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:  10vh;
    margin-left: 40vh;
    margin-right: 30vh;
    gap: 10vw;
  }
  .bigContainer h1{
    font-size: 3rem;
    font-weight: 700;
  }
  .bigContainer img{
    height: 40vh;
  }
  .bigContainer span{
    color: #2eb34b;
  }

  /* Reviews Section  */
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
a:link,a:active,a:visited,a:hover{
	color:#3f51b5;
}

.outerdiv
{
	width: 100%;
    min-height: 100vh;
    background: #EDF2F8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white;
}
.div1
{
	background: #733FC8;
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 25rem;
}
.div2
{
	background:#49556B;
    grid-column: 3/4;
    grid-row: 1/2;
}
.div3
{
	background: white;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}
.div4
{
	background: white;
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}
.div5
{
	background: #18202D;
	grid-column: 2/4;
    grid-row: 2/3;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}
.review h4
{
	font-size: 1.4rem;
	color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
}


/* Footer  */
.footer {
    background-color: rgb(239, 223, 223);
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.leftFooter,
.rightFooter {
    flex: 1;
}

.leftFooter {
    padding-left: 300px;
    padding-right: 50px;
}

.newsletter-form {
    float: left;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.heading {
    font-weight: bold;
    font-size: 20px;
}




.leftFooter h1{
    margin-bottom: 10px;
}

.imp-info{
    font-weight: bolder;
}
.leftFooter .copyright{
    font-size: 16px;
    margin-top: 15px;
    font-weight: 800;
}
.rightFooter img{
    height: 40vh;
    width: 40vh;
}